<h3>Jerry C. Lin Twitter Client</h3>

<!-- following sign in/sign out retreives information from your session -->

<% if session != nil %>
    Hello <%= @user.name %>
    <%= link_to "Sign out", signout_path %>

	<%= form_tag("/update", method: "get") do %>
		  <label for="status_update">Tweet</label>
		  <%= text_field_tag :comment %>
		 <%= submit_tag "Submit" %>
	<% end %>

	<p>Your Timeline</p>

	<!-- This div "timed_reload" is meant to receive updates to micmic live update -->
	<div id = "timed_reload">
		<%= @home.each do |list|%>
		<ul><%= list.text %></ul>
		<% end %>
	</div>

<% else %> 
	<!-- path /auth/twitter for omniauth -->
    <%=link_to "Sign In with your Twitter Account", "/auth/twitter" %>
<% end %>